<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="c:\Users\vansh chauhan\Desktop\studio\assets\style.css">
</head>

<body>
  <main class="main">
    <div class="container">
      <section class="wrapper">
      
          <img src="c:\Users\vansh chauhan\Desktop\studio\assets\image\images.png" alt="" class="camera-img">
    
        <div class="heading">
          <h1 class="text text-large">Login with Mobile OTP</h1>
          
        </div>
        <form name="signin" class="form">
          <div class="input-control">
            <label for="email" class="input-label" hidden>Email Address</label>
            <input type="email" name="email" id="email" class="input-field" placeholder="📍[+91] India">
          </div>
          <div class="input-control">
            <label for="password" class="input-label" hidden>Password</label>
            <input type="password" name="password" id="password" class="input-field" placeholder="+91 | Mobile Number">
          </div>
          <div class="input-control">
           
            <input type="submit" name="submit" class="input-submit" value="Get OTP" disabled>
          </div>
        </form>
        <div class="striped">
          <span class="striped-line"></span>
          <span class="striped-text">Or</span>
          <span class="striped-line"></span>
        </div>
        <button class="bttn-whatsapp">Login with WhatsAPP</button>
        </div>
      </section>
    </div>

  </main>
  
</body>
</html>